.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logo-container {
  flex: 1 1 100%;
  max-width: 25%;
}

.desktop-links-container {
  flex: 1 1 100%;
  max-width: 45%;
}

.link-list {
  display: flex;
  justify-content: space-between;
}