// TODO: Figure out how to setup path aliasing in Next
@import '../../styles/variables';

.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
}

.logoContainer {
  flex: 1 1 100%;
  max-width: 25%;
}

.desktopLinksContainer {
  flex: 1 1 100%;
  max-width: 45%;
}

.linkList {
  display: flex;
  justify-content: space-between;

  a {
    color: $copy-color;
  }
}