.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logoContainer {
  flex: 1 1 100%;
  max-width: 25%;
}

.desktopLinksContainer {
  flex: 1 1 100%;
  max-width: 45%;
}

.linkList {
  display: flex;
  justify-content: space-between;
}